.heading {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ion-button {
    padding: 0;
  }
}

ion-grid ion-button {
  --border-width: 1px;
  height: 30px;
  width: 112px;
  ion-icon {
    font-size: 14px;
  }
  .view-status {
    margin: 0 6px;
  }
}

.action-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.round {
  margin-top: -8px;
  --width: 60px;
  --height: 60px;
  --vertical-align: middle;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-start: 5px;
  --padding-end: 5px;
}
